/* main*/
* {
    margin: 0;

} 
.liensnav {
    display: flex;
}

.sectionrecherche , .sectionfiltres , .sectionhotelmarseille , .sectionactivites{
    margin-left: 6%;
    margin-right: 6%; 
    margin-top: 10%;
} 
a{
    font-size: 150%;
}
h1 , h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

h3 , h4 {
    font-weight: 900;
    font-size: 140%;
}
body{
    display: inline-block;
    width: 100%;
    font-family: raleway ;
    font-size: 100%;
    line-height: 2em;
}
a {
    color: inherit; 
} 
a:visited , a:link  {
    text-decoration: none;
}

/* header */
.headerdiv {
    display: flex;
    flex-wrap: wrap;
}
.photologo {
    margin-left: 5%;
    font-size: 100%;  
    width: 30%; 
}
.headerdiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;   
}
.sinscrire { 
    width: 30%;
    height:100%;
    color: #0065FC;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    font-weight: 900;
    padding: 30px 0px 30px 0px ;
}
.liensnav {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    justify-content: space-between;
}
.hebergements , .activites  {  
    width: 50%;
    align-items: center;
    margin-top: 7%;
    border-bottom:solid;
    border-color: #F2F2F2;
    padding-bottom: 3%;
    margin:0;
    padding: 4%;
}
.activites a:active {
   color: #0065FC;
   border-color:#0065FC ;
}
.hebergements a {
    border-bottom: black;
}


/* footer */
footer {
    background-color: #F2F2F2 ;
    font-size: 70%;
    padding-bottom: 7%;
    padding-left: 6%;
    margin-right: 0;
}
ul {
    list-style: none;
}
footer  h3{
    padding-top: 7%;
    padding-bottom: 5%;
    margin-top: 10%;
}

/* section recherche */

.sectionrecherche form{
    display: flex;
    justify-content: flex-start;
    font-size: 250%;
    width: 100%; 
    height: 100%;
}
.sectionrecherche input {
    border: solid;
    border-color: #F2F2F2;
    width: 90%;
}

.sectionrecherche i {
    font-size: 70%;
}
.sectionrecherche button i {
    font-size: 180%;
    align-items: center;
}
.locate {
    border:solid;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2%;
}
.search {
    border:solid;
    border-color: #0065FC;
    background-color:#0065FC;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2%;
}
.search i {
    color: white;
}

.sectionrecherche p {
    margin-bottom: 5%;
    padding-left: 0;
}

.sectionrecherche h1 {
    padding-top: 5%;
    font-weight: 900;
}


/* section filtre  */
.sectionfiltres {
    margin-left: 6%;
    margin-right: 6%; 
    margin-top: 5%;
    display: block;
    flex-wrap: wrap;
} 
.info {
    display: flex;
    align-items: center;
}

.filtre , .select  {
    margin-right: 2%;
    text-transform: capitalize;
    line-height: 2.5;
    font-weight: 900;
}
.seclect a:hover {
    transform: scale(1,1);
}
.select  {
    border-style: solid;
    border-width: medium;
    border-color: #F2F2F2;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    border-radius: 40px / 40px;
    text-align: center;
    box-sizing: content-box;
    max-width: 50%;
    white-space: nowrap;
    display: inline;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;

}
.select i {
    border-style: solid ;
    border-color:  #DEEBFF ;
    border-radius: 50%;
    padding: 3%;
    margin: 0%;
    margin-top: 10%;
    color: #0065FC;
    background-color: #DEEBFF;
    background-origin: border-box;
    font-size: 120%;

}
.info i {
    border-style: solid ;
    background-color: none;
    border-color:  #F2F2F2;
    border-radius: 50%;
    padding: 2%;
    margin: 0%;
    color: #0065FC;
}
.data i {
    border-style: solid ;
    border-color:  #DEEBFF ;
    border-radius: 50%;
    border-width: 200%;
    padding: 3%;
    margin: 0%;
    font-size: 120%;

}
/* section hotel populaire  */
.sectionhotelpopulaire {
    display: block;
    justify-content: center;
    background-color: #F2F2F2;
    width: 90%;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;

}
.chart {
    
}

.conteneurpopulaire {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    background-color: white;
    border-radius: 10%; 
    box-shadow: 5px 5px 5px 5px #f6f6f6;
    margin-bottom: 5%;
    padding: 2%;
    padding-right: 2%;
}

.photohotelpopulaire {
    width: 130px;
    height: 130px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-right: 2%;
    padding-right: 2%;
    object-fit: cover;
}
.conteneurpopulaire .texthotel {
    max-width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 7%;
}
.conteneurpopulaire h4 , .conteneurpopulaire p {
    width: 100%;
}
.staricones {
    height: 40%;
    margin-top: 7%;
}




/* section hotel marseille  */
.photohotelmarseille {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    object-fit: cover;
}

.conteneurmarseille {
    background-color: white;
    border-radius: 10% 10% 10% 10%; 
    box-shadow: 5px 5px 5px 5px #f6f6f6;
    margin-bottom: 10%;
    padding: 2%;
}


/*section activites marseille  */

 .sectionactivites {
   margin-top: 10%;

}

 .photoactivites {
     max-width: 100%;
     padding-bottom: 3%;
     width: 100%;
     height: 150px;
     border-top-left-radius: 10%;
     border-top-right-radius: 10%;
     object-fit: cover;
 }

.conteneuractivitesmarseille {
  
}
.conteneuractivites {

    background-color: white;
    border-radius: 10%; 
    box-shadow: 5px 5px 5px 5px #f6f6f6;
    margin-bottom: 10%;
    
}


/* Media queries tablettes */

@media only screen and (min-width: 768px) {
h1, h2, h3, h4 , p , a {
    font-size: 100%;
}
.header {
    font-size: 40%;
    display: flex;
}
.headerdiv {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
}
.liensnav {
    width: 50%;
    display: inline;
    order: 2;
    align-content: flex-end;
}
.photologo {
    order: 1;
    float: left;
    margin: 0;
}
.hebergements {
    display: inline;
    font-size: 100%;
    border-bottom: none;
    width: 10%;
    padding: 0;
    padding-right: 2%;
    margin: none;
}
.activites {
    display: inline;
    border-bottom: none;
    font-size: 100%;
    width: 10%;
    padding: 0;
    
    padding-left: 10%;
    margin: none;
}
.sinscrire {
    order:3;
    font-size: 100%;
    width: 10%;
    justify-content: center;
    align-items: center; 
    padding: 0;  
}

.sectionrecherche form {
    width: 50%;
    font-size: 150%;
}
.sectionrecherche {
    margin: 0;
}
.sectionfiltres {
    flex-wrap: nowrap;
}
.select  {
    flex-grow: 1;
}
.sectionfiltres select {
    width: auto;
}
.conteneurfooter {
    display: flex;
    align-items: baseline;  
}
.footertext {
    margin-right: 12%;
    line-height: 2em;
}
.sectionhotelpopulaire , .sectionhotelmarseille  , .sectionactivites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conteneurpopulaire {
    display: block;
    padding : 1%;
}
.photohotelpopulaire {
    width: 100%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 0%;
}
.texthotelpopulaire {
    float: none;
}
.conteneurpopulaire , .conteneurmarseille , .bigphoto , .smallphoto {
    width: 25%;
    margin-right: 3%;
}
.sectionhotelpopulaire h1 {
    width: 100%;
}
.conteneurhotelmarseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conteneurmarseille {
    margin-left: none;
}
.conteneuractivitesmarseille  {
    display: flex;
    flex-wrap: wrap;
}
.bigphoto  {
    width: 45%;
}
.bigphoto .conteneuractivites{
    height: 100%;
}
.bigphoto .photoactivites {
    height: 395px;
    padding-bottom: 0;
}
.conteneursmallphoto  {
    width: 45%;    
    justify-content: right;
}
.smallphoto  {
    width: 100%;
}
.conteneuractivites {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0
}
.photoactivites {
   max-width: 100%;
}
}
/* Media queries desktop  */

@media only screen and (min-width: 992px) {
.main {
        display: flex;
    }
.sectionfiltres {
        display: inline;
        margin-top: 0%;
        
    }
.sectionfiltres h2 {
        width: 10%;
        margin-top: 0%;
    }
.desktopaside {
        display: flex;
        
    }
.sectionhotelmarseille{
        width:70%;
        float: left;
        order: 1;
        margin: 0;
    }
.sectionhotelmarseille h1 , .sectionhotelpopulaire h1 {
        margin:0 ;
        padding-bottom: 10%;
    }
.sectionhotelpopulaire {
       
        width: 30%;

        float: right;
        order: 2;
        margin-top: 0;
        padding: 0;
    }
.conteneurpopulaire {
    margin: 0;
    width: 100%;
    height: 25%;
}
.photohotelpopulaire {
    width: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 0%;
}
.conteneurpopulaire .texthotel {
    float: right;
    height: auto;
}
.desktopaside {
        display: flex;
    }
.sectionhotelmarseille {
        order:1;
    }
.sectionhotelpopulaire {
        order: 2;
    }

.conteneuractivitesmarseille {
        display: flex;
        flex-wrap: nowrap;
    }
.bigphoto {
        width: 20%;
        height: 100%;
        margin-right: 3%;
    } 
.conteneursmallphoto {
        width: 20%;
        height: 50%;   
        margin-right: 3%;   
    }

}



/*  */