/* main*/
* {
    margin: 0;
} 
.sectionrecherche , .sectionfiltres , .sectionhotelmarseille , #sectionactivites{
    margin: 5%;
} 
body{
    display: inline-block;
    font-family: raleway ;
    font-size: 14px;
    margin-top: 2%;
}
h1 , h2 , h4 , p , .staricones {
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 5%;
}
p {
    font-size: 16px;
}
a {
    color: inherit; 
    font-size: 15px;
} 
a:visited , a:link  {
    text-decoration: none;
}
.staricones {
    display: flex;
    justify-content: flex-start;
}
.stariconesblue  {
    color: #0065FC;
}
.stariconesgrey {
    color: #F2F2F2;
}

/* header */
.headerdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.photologo {
    width: 25%; 
    margin-left: 5%;
}
.sinscrire { 
    width: 25%;
    display: flex;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: bold;
    padding: 5% 5% 5% 0% ;
    font-size: 15px;
}
.liensnav {
    width: 100%;
    display: flex;
}
.liensnav a:hover, .liensnav a:active {
    color: #0065FC;
    border-color: #0065FC;
}
.hebergements , .activites  {  
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom:solid;
    border-color: #F2F2F2;
    padding: 4%;
}

/* section recherche */
.sectionrecherche h1 {
    margin-top: 8%;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 22px;
}
.sectionrecherche form{
    height:auto;
    display: flex;
    margin-top: 10%;
    margin-bottom: 5rem;
}
.sectionrecherche input {
    height: 50px;
    width: 300px;
    display:flex;
    justify-content: center;
    align-content: center;
    border: solid;
    border-color: #F2F2F2;
    font-weight: bold;
    font-size: 18px;
    position: relative; 
    left: 1rem;
    z-index: 1;
    padding-left: 7%;

}
.locate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 42px;
    border:solid;
    border-width: 0.3em;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    position: absolute; 
    left: .5rem;
    z-index: 2;
}
.locate i {
    font-size: 18px;
}
.search {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 50px;
    height:50px;
    border:solid;
    border-width: 0.2em;
    border-color: #0065FC;
    background-color:#0065FC;
    border-radius: 30%;
    margin-right: 5%;
    position: absolute;  
    left: 20rem;
    z-index: 2;
}
.search i {
    font-size: 18px;
    color: white;    
}
button span {
    display: none;
}
.info  {
    width: 100%;
    padding-left: 0;
    margin-bottom: 5%;
}

/* section filtres */
.sectionfiltres {
    display: flex;
    flex-wrap: wrap;
} 
.sectionfiltres h2 {
    width: 100%;
    font-size: 18px;
}
.info {
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
}
.filtre , .select  {
    text-transform: capitalize;
    line-height: 2.5;
    font-weight: bold;
    margin-right: 2%;
}
.sectionfiltres a:hover  {
    background-color: #0065FC;
    color: #F2F2F2;
}
.select  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: medium;
    border-color: #F2F2F2;
    border-radius: 70px / 70px;
    white-space: nowrap;
    padding-right: 5%;
    margin-bottom: 4%;
    margin-right: 7%;
    font-size: 15px;
}
.select i {
    color: #0065FC;
    position: relative;
    background-color: #DEEBFF;
    background-origin: border-box;
    border-style: solid ;
    border-color:  #DEEBFF ;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10%;
    width: 25px;
    height: 25px;
    align-content: center;
    font-weight: bold;
    font-size: 18px;
}
.info i {
    align-self: flex-start;
    color: #0065FC;
    border-style: solid ;
    border-color:  #F2F2F2;
    border-radius: 50%;
    padding: 8px;
    font-size: 12px;
}
.info p { 
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 2%;
}

/* section hotel populaire  */
.sectionhotelpopulaire {
    background-color: #F2F2F2;
    padding-top: 10%;
    padding-bottom: 5%;
}
.conteneurpopulaire {
    display: flex; 
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 2px 8px #c5c5c5;
    padding-top: 1%; 
    padding-left: 1%;   
    padding-right: 2%;     
    margin-bottom: 3%;
    margin-right: 5%;
    margin-left: 5%;
}
.conteneurpopulaire img  {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.conteneurpopulaire .texthotel {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 5% 5% 2% 5%;
    margin-top: 1%;
}
.sectionhotelpopulaire h2 {
    display: flex;
    justify-content: space-between;
    margin : 0% 5% 7% 5%;
    font-size: 22px;
}
.texthotel h4  {
    line-height: 1em;
    margin-bottom: 0;
    font-size: 16px;
}
.texthotel p {
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 2%;
    font-size: 14px;
}
.staricones {
    width: 100%;
    font-size: 12px;
}

/* section hotel marseille  */
.conteneurmarseille {
    display: block; 
    background-color: white;
    border-radius: 20px; 
    box-shadow: -2px 2px 8px #c5c5c5;
    padding: 1%;
    margin-bottom: 5%;
}
#sectionhotelmarseille {
    margin-left: 5%;
    margin-right: 5%;
}
.photohotelmarseille {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#sectionhotelmarseille h2 {
    margin-left: 0%;
    margin-top: 10%;
    margin-bottom: 7%;
    font-size: 22px; 
}
.conteneurmarseille h4 {
    margin-top: 2%;
}

#sectionhotelmarseille .staricones {
    margin-bottom: 1%;
    margin-top: 2%;
}

/*section activites marseille  */
 #sectionactivites {
    padding-top: 5%;
    margin-top: 10%;
}
.conteneuractivites {
    display: block;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 5px 5px 5px 5px #f6f6f6;
    margin-bottom: 5%;
}
.photoactivites {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#sectionactivites h2 {
    margin-bottom: 7%;
    margin-left: 0%;
    font-size: 22px;
}
.bigphoto h4 , .smallphoto h4 {
    padding-bottom: 5%;
    padding-left: 2%;
    margin-top: 3%;
}
/* footer */
footer {
    background-color: #F2F2F2 ;
    line-height: 2.5em;
    padding-top: 4%;
    padding-bottom: 10%;
    margin-top: 15%;
}
ul {
    list-style: none;
}
footer  h3{
    padding-top: 7%;
    padding-bottom: 5%;
    font-size: 18px;
}

/*             MEDIA QUERIES TABLETTES MIN WIDTH 768 PX */
@media only screen and (min-width: 768px) {

/* Media queries tablettes main */
    header , main {
        font-size: 160%;
    }
    header , .sectionfiltres , .sectionrecherche , .sectionhotelmarseille , #sectionactivites {
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 , h2 , h4 , p , .staricones {     
        margin-right: 0;
    }
    header , .sectionfiltres , .sectionrecherche {
        margin-left: 3%;
        margin-right: 3%;
    }

/* Media queries tablettes header */
    .header {
        display: flex;
        margin: 3%;
    }
    .headerdiv {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        align-items: center;
        margin-bottom: 0;
    }
    .photologo {
        order: 1;
        float: left;
        margin: 0;
    }
    .liensnav {
        order: 2;
        display: inline;
        align-content: flex-end;
        justify-items: center;
        width: 60%;
        font-size: 18px;
    }
    .liensnav a:hover, .liensnav a:active {
        color: #0065FC;
        border-color: #0065FC;
        border-top: solid;
        border-width: thin;
    }
    .sinscrire {
        order:3;
        width: 10%;
        justify-content: center;
        align-items: center; 
        font-size: 18px;
    }
    .hebergements , .activites {
        width: 10%;
        display: inline;
        border-bottom: none;
        padding: 0;
        padding-top: 4%;
        margin: 0;
        font-size: 18px;
    }
    .hebergements a:hover , .activites a:hover , .hebergements a:active , .activites a:active {
        border-top: #0065FC;
        border-top:solid;
        font-weight: bold;
    }

 /* Media queries tablettes section recherche */
    h1 {
        line-height: 1em;
    }
    .sectionrecherche form {
        margin: 0%;
        margin-bottom: 3%;
    }
    .sectionrecherche input {
        padding-left: 5%;
    }
    .locate {
        height: 40px;
        font-size: 18px;
    }
    .search {
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        border-radius: 0% 15% 15% 0%;
        font-weight: bold;
    } 
    .search i {
        display: none;
    }
    button span  {
        display: block;
        color: white;
    }

 /* Media queries tablettes section filtres */
 .sectionfiltres {
     margin-top: 15%;
 }
    .sectionfiltres h2, .sectionrecherche p , .sectionrecherche h1{
        margin-left:0;
    }
    .select  {
        justify-content: space-between;
        margin-right: 10%;
        padding-right: 6%;
        font-size: 18px;
    }
    .select i {
        padding: 12px;
        font-size: 20px;
    }
    .info {
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .info i {
        padding: 1%;
    }
    .info p {
        margin: 0;
        margin-left: 1%;
    }

/* Media queries tablettes section hebergement */

    .sectionhotelpopulaire , #sectionhotelmarseille  , #sectionactivites {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5%;
        padding: 3%;
    }   
    #sectionhotelmarseille {
        margin: 0;
    }
    .conteneurpopulaire , .conteneurmarseille{
        padding: 0.5%;
    }
    .conteneurmarseille {
        padding: 0.5%;
    }    
    .conteneurhotelmarseille {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .conteneurpopulaire , .conteneurmarseille , .bigphoto , .smallphoto {
        width: 28%;
        display: block;
        margin-right: 1%;
        margin-left: 1%;
    }   
    .sectionhotelpopulaire h2 , #sectionhotelmarseille h2 {
        width: 100%;
        margin: 0;
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: 22px;
    }
    #sectionhotelmarseille h4 {
        width: 100%;
    }
    .conteneurpopulaire img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }
    .texthotel {
        margin: 0 ;    
        padding: 5% 5% 2% 5%;
    }
    .conteneurhotelmarseille .texthotel, .sectionhotelpopulaire .texthotel{
        font-size: 10px;
    }

/* Media queries tablettes section activites */
    .conteneuractivites {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        margin-bottom: 0;
        margin-right: 0
    }
    .conteneuractivitesmarseille  {
        display: flex;
        flex-wrap: wrap;
    } 
    #sectionactivites {
        padding: 3%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .bigphoto  {
        width: 48%;
        height:50%;
    }
    .bigphoto .conteneuractivites {
        height:100%;
    }
    .bigphoto , .conteneursmallphoto {
        margin-bottom: 3%;
    }
    .conteneursmallphoto  {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-left: 2%;
    }
    .smallphoto  {
        width: 95%;  
    }
    #sectionactivites h2 {
        font-size: 22px;
    }  
    .bigphoto h4 {
        padding-bottom: 0%;
    }
    .bigphoto h4 , .smallphoto h4 {
        font-size: 20px;
        margin-bottom: 0%;
        margin-top: 0%;
    }
    .photoactivites {
        padding-bottom: 2%;
    }
    .bigphoto .photoactivites {
        height: 350px;
    }


/* Media queries tablettes footer*/
    footer {
        padding-bottom: 5%;
        margin-top: 10%;
    }
    .conteneurfooter {
        display: flex;
        align-items: baseline;  
        padding-bottom: 0;
        white-space: nowrap;
        font-size: 80%;
    }
    .footertext {
        line-height: 2em;
        margin-right: 10%;
    }
}

/*           MEDIA QUERIES DESKTOP MIN WIDTH 992PX */
@media only screen and (min-width: 992px) {

/* Media queries desktop main  */
    body {
    margin: 3%;
    }
    h2 , h4 , p {
        margin-bottom: 5%;
        margin-left: 3%; 
        margin-right: 5%;
    }
    .sectionfiltres , .sectionrecherche , header {
        margin-left: 1%;
    }

/* Media queries desktop header  */
    .headerdiv {
        margin-bottom: 5%;
    }
    .photologo {
        width: 8%;
    }
    .sinscrire {
        width: 5%;
        font-size: 14px;
    }
    .liensnav { 
        width: 70%;
    }
    .hebergements , .activites {
        margin-left: 6%;
        font-size: 14px;
    }
/* Media queries desktop section recherche */
    .sectionrecherche {
        margin-top:2%;
        margin-bottom: 2%;
    }
    .sectionrecherche h1  {
        margin:0;
        font-size: 16px;
    }
    .sectionrecherche p {
        line-height: 2rem;
        margin:0%;
        font-size: 13px;
    }
    .sectionrecherche form {
        width:30%;
        margin: 0%;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    .sectionrecherche input {
        font-size: 14px; 
        padding-left: 12%;

    }
    .locate {
        left: 46px;
    }
    .search {
        border-radius: 0% 15% 15% 0%;
        font-weight: bold;
        padding: 0%;
        padding-left: 3%;
        padding-right: 3%;
        font-weight: bold;
        font-size: 12px;
    } 
    .search i {
        display: none;
    }
    button span  {
        display: block;
        color: white;
    }

/* Media queries desktop section filtres */  
    .sectionfiltres {
        align-items: center; 
        margin-bottom: 0%;
        margin-top: 10%;
    }
    .sectionfiltres h2 {
        width: auto;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 2%;
        font-size: 14px;
    }
     .select {
        padding-right:2%;
        margin-right: 2%;
        margin-bottom: 0%;
        font-size: 14px;
    }
    .select i {
        padding: 7PX 7PX 0PX 7PX;
        font-size: 16px;
    }
     .info {
        margin-top: 1%;
        margin-bottom: 2%;
    }
     .info i {
        padding: 0.5%;
        font-size: 7px;
    }
     .info p {
        margin-left: 1%;
        font-size: 12px;
    }

/* Media queries desktop section hebergement */
    .desktopaside {
        display: flex;    
    }
    .texthotel {
        padding-left: 5%;
        padding-top: 3%;
    }
    #sectionhotelmarseille {
        order: 1;
        width:70%;
        align-content: space-between;
        background-color: #F2F2F2;
        border-radius: 30px;
        padding: 2% 2% 0% 2%;
        margin: 0;
    }  
    .sectionhotelpopulaire {        
        order: 2;
        width: 30%;
        align-content: space-between;
        float: right;
        border-radius: 30px;
        padding: 2%;
        margin-top: 0;
        margin-left: 3%;
        margin-right: 2%;
    }
    .conteneurhotelmarseille {
        height: 65%;
        margin-bottom: 5%;
        align-content: space-between;
    }
    .conteneurpopulaire {
        width: 100%;
        display: flex;
        padding : 1% 1% 0.3% 1%;
        margin-bottom: 4%;
        margin-top: 5%;
    }
    .conteneurmarseille  {
        padding: 0.5%;
        margin-bottom: 3%;
        margin-top: 0%;
    }
    #sectionhotelmarseille h2  {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        font-size: 18px;
    }
    .sectionhotelpopulaire h2 {
        margin-bottom: 10%;
        font-size: 18px;
    }
    .conteneurpopulaire h4 {
        margin-left: 30%;
        margin-top: 15%;
    }
    #sectionhotelmarseille p {
        width: 100%;
        margin-top: 2%;
        margin-left: 3%;
    }
    .texthotel h4 {
        margin-left:3%;
        margin-top: 0%;
        font-size: 13px;
    }
    .conteneurpopulaire img {
        width: 110px;
        height: 120px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;   
    }
    .photohotelmarseille {
        height: 100px;
    }
    .conteneurpopulaire .texthotel {
        height: 95%;
        float: right;
        display: flex;
        justify-content: space-between;
        padding: 2% 2% 0% 0%;
        margin-left: 4%;
        font-size: 18px;
    }
    .conteneurmarseille .texthotel {
        width: 100%;
        display: inline-block;
        flex-flow: wrap;
        align-content: space-between;
    }
    .conteneurmarseille .text {
        width: 100%;
    }
    .staricones {
        font-size: 11px;
    }
    .conteneurpopulaire .staricones {
        margin-bottom: 8%;
    }

/* Media queries desktop section activites */
    #sectionactivites {
        padding :0;
    }
    .conteneuractivitesmarseille {
        display: flex;
        flex-wrap: nowrap;
    }
    .conteneuractivites {
        padding-bottom: 2%;
    }
    .bigphoto {   
        width: 25%;
        height: 104%;
        padding:0;
        margin-bottom: 0;
        margin-right: 3%;
    } 
    .conteneursmallphoto {
        width: 25%;
        height: 104%;   
        margin:0; 
        margin-right: 2%;
    }
    .bigphoto .conteneuractivites {
        height:100%;
        padding-left: 0%;
    } 
    .bigphoto .photoactivites {
        height: 87%;
        padding-bottom: 0%;
    }
    .smallphoto .photoactivites {
        height: 120px;
    }
    .conteneursmallphoto h4 , .bigphoto h4  {
        padding-bottom: 1%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 13px;
    }
    .bigphoto h4 {
        margin-top: 4%;
    }
    .conteneursmallphoto h4 {
        height: 40%;
    }
    #sectionactivites h2 {
        margin-left: 1%;
        margin-bottom: 2%;
        margin-top: 4%;
    }

/* Media queries desktop footer */
    footer {
        padding-top:0;
        padding-bottom: 5%;
        margin-top: 5%;
    }
    .conteneurfooter {
        margin-top: 0;
    }
    footer h3 {
        font-size: 12px;
    }
    .footertext {
        margin-right: 13%;
        margin-top: 2%;
        font-size: 10px;
    }    
}
    
